//
// Custom Variables
// --------------------------------------------------

//== Colors
//
//## Gray and brand colors for use across Bootstrap.

$brand-primary: #e32170;
$brand-secondary: #0e0d1d;

$black:                 #333 !default;
$white:                 #fff !default;

$brand-facebook:        #3b5998 !default;
$brand-twitter:         #4099FF !default;

//== Scaffolding
//
//## Settings for some of the most global styles.

//** Global text color on `<body>`.
$text-color:            #404040 !default;

//== Typography
//
//## Font, line-height, and color for body text, headings, and more.

$opensans:                  'Open Sans', sans-serif !default;

$font-family-sans-serif:    $opensans !default;

//== Buttons
//
//## For each of Bootstrap's buttons, define text, background and border color.

$btn-secondary-color:              $brand-primary !default;
$btn-secondary-bg:                 $white !default;
$btn-secondary-border:             $btn-secondary-color !default;

$btn-facebook-color:              $white !default;
$btn-facebook-bg:                 $brand-facebook !default;
$btn-facebook-border:             $btn-facebook-bg !default;
