//
// Base
// ----------------------------------------------

body {
	background-color: $white;
    font-weight: normal;
}

//
// Generic Elements
// --------------------------------------------------

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
    margin-top: 0;
}

p {
    margin-top: 0;
}

a {
    text-decoration: none;

    #{$attention} {
        text-decoration: underline;
    }
}

strong {
    font-weight: 700;
}

span.amp {
    font-family: Baskerville,'Goudy Old Style',Palatino,'Book Antiqua',serif !important;
    font-style: italic;
}

textarea {
    resize: vertical;
}

.color--facebook {
    color: $brand-facebook;
}

.color--twitter {
    color: $brand-twitter;
}

//
// Remove gutters from element
// --------------------------------------------------

.row--gutterless {

    & > [class^="col-"],
    & > [class*=" col-"] {
        padding-right: 0;
        padding-left: 0;
    }
}

.gutterless--left {
    padding-left: 0;
}

.gutterless--right {
    padding-right: 0;
}